#!/bin/csh -f

#
# NCBI configuration file
#

cd `dirname $0` && source ./Configuration

setenv MAPPINGDATADIR	/mgi/all/wts_projects/7600/7655/DataLoad
setenv MAPPINGDATAFILE	${MAPPINGDATADIR}
setenv MAPPINGMODE	preview|incremental|full
setenv JNUM		J:81858
setenv EXPERIMENTTYPE	"TEXT-Physical Mapping"
setenv CREATEDBY	yz

